<div class="date-container">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-container">
            <div class="form-input form-day">
              <label id="day" for="day">day</label>
              <input
                id="day"
                type="text"
                placeholder="dd"
                formControlName="day"
                [isNumber]="true"
              />
              <ng-container
                *ngIf="f['day'].errors?.['required']  && f['day'].invalid && f['day'].touched"
              >
                <small>This field is required</small>
              </ng-container>
              <ng-container *ngIf="f['day'].errors?.['max']">
                <small>Must be a valid day</small>
              </ng-container>
            </div>
            <div class="form-input form-month">
              <label id="month" for="month">month</label>
              <input
                id="month"
                type="text"
                placeholder="mm"
                formControlName="month"
                [isNumber]="true"
              />
              <ng-container
                *ngIf="f['month'].errors?.['required']  && f['month'].invalid && f['month'].touched"
              >
                <small>This field is required</small>
              </ng-container>
              <ng-container *ngIf="f['month'].errors?.['max']">
                <small>Must be a valid month</small>
              </ng-container>
            </div>
            <div class="form-input form-year">
              <label id="year" for="year">year</label>
              <input
                id="year"
                type="text"
                placeholder="yyyy"
                formControlName="year"
                [isNumber]="true"
              />
              <ng-container
                *ngIf="f['year'].errors?.['required']  && f['year'].invalid && f['year'].touched"
              >
                <small>This field is required</small>
              </ng-container>
              <ng-container *ngIf="f['year'].errors?.['max']">
                <small>Must be a in the past</small>
              </ng-container>
            </div>
          </div>
        </form>

        <div class="form-action">
          <hr />
          <div class="btn-wrapper">
            <button (click)="onSave()">
              <img src="../assets/images/icon-arrow.svg" alt="" />
            </button>
          </div>
        </div>

        <div class="date-wrapper">
          <div class="form-date">
            <label>
              {{ year ? year : "--" }}
            </label>
            <h4>years</h4>
          </div>
          <div class="form-date">
            <label>
              {{ month ? month : "--" }}
            </label>
            <h4>months</h4>
          </div>
          <div class="form-date">
            <label>
              {{ day ? day : "--" }}
            </label>
            <h4>days</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
